<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dynage Tech Pvt Ltd</title>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <!-- Web Fonts  -->
    <link id="googleFonts" href="~/Content/Theme/fonts/css" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/Theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Theme/css/all.min.css">
    <link rel="stylesheet" href="~/Content/Theme/css/animate.compat.css">
    <link rel="stylesheet" href="~/Content/Theme/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/Content/Theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Theme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Theme/css/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/Theme/css/theme.css">
    <link rel="stylesheet" href="~/Content/Theme/css/theme-elements.css">
    <link rel="stylesheet" href="~/Content/Theme/css/theme-blog.css">
    <link rel="stylesheet" href="~/Content/Theme/css/theme-shop.css">
    <!-- Demo CSS -->
    <link rel="stylesheet" href="~/Content/Theme/css/demo-it-services.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="~/Content/Theme/css/skin-it-services.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/Theme/css/custom.css">
    <!-- Theme Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        html .scroll-to-top.visible {
            background: url(~/Content/Theme/images/up-arrow.png)
        }
    </style>
</head>
<body>
    <div class="body">
        @Html.Partial("_Notification")
        @RenderBody()
        @*@Scripts.Render("~/Content/Theme/scripts")*@
        <!-- Vendor -->
        <script src="~/Content/Theme/scripts/plugins.min.js"></script>

        <!--Theme Base, Components and Settings-->
        <script src="~/Content/Theme/scripts/theme.js"></script>

        <!--Demo-->
        <script src="~/Content/Theme/scripts/demo-it-services.js"></script>

        <!--Theme Initialization Files-->
        <script src="~/Content/Theme/scripts/theme.init.js"></script>
        @*<script src="~/Scripts/toastr.js"></script>*@

    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>
